<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry location="C:\Users\Administrator\.m2\repository\ojdbc\ojdbc\14\ojdbc-14.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <!-- 屏蔽注释 -->
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver" connectionURL="" userId="" password=""/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.yasinyt.system.entity" targetProject="ops-system">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="ops-system/src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口文件的位置 -->
        <javaClientGenerator targetPackage="com.yasinyt.system.dao" targetProject="ops-system" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- mapperName是Dao接口名  生成后需要修改Mapper.xml文件 -->
        <table tableName="P2P_REPAYMENT_PLAN_DETAIL" mapperName="RepaymentPlanDetailDao" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
        </table>
    </context>
</generatorConfiguration>