<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yasinyt.system.dao.BorrowDao">
  <resultMap id="BaseResultMap" type="com.yasinyt.system.entity.Borrow">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPTIME" jdbcType="TIMESTAMP" property="optime" />
    <result column="ALWN_AHEAD_REPAY" jdbcType="DECIMAL" property="alwnAheadRepay" />
    <result column="BAD_LOAN" jdbcType="DECIMAL" property="badLoan" />
    <result column="BID_COUNT" jdbcType="DECIMAL" property="bidCount" />
    <result column="BID_MONEY" jdbcType="FLOAT" property="bidMoney" />
    <result column="BID_BS" jdbcType="VARCHAR" property="bidBs" />
    <result column="BORROW_END_TIME" jdbcType="TIMESTAMP" property="borrowEndTime" />
    <result column="BORROW_PERIOD" jdbcType="VARCHAR" property="borrowPeriod" />
    <result column="BORROW_PHOTO" jdbcType="VARCHAR" property="borrowPhoto" />
    <result column="BORROW_PROGRESS" jdbcType="FLOAT" property="borrowProgress" />
    <result column="BORROW_TITLE" jdbcType="VARCHAR" property="borrowTitle" />
    <result column="BORROW_USE" jdbcType="VARCHAR" property="borrowUse" />
    <result column="DEFICIT_APPROVAL" jdbcType="DECIMAL" property="deficitApproval" />
    <result column="DETAIL_NOTE" jdbcType="VARCHAR" property="detailNote" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="EXTEND_LIMIT" jdbcType="DECIMAL" property="extendLimit" />
    <result column="HIGHEST_IR" jdbcType="FLOAT" property="highestIr" />
    <result column="IF_DEFICIT" jdbcType="DECIMAL" property="ifDeficit" />
    <result column="IR_TYPE" jdbcType="DECIMAL" property="irType" />
    <result column="IS_AUTO_REPAYMENT" jdbcType="VARCHAR" property="isAutoRepayment" />
    <result column="IS_CIRCLE" jdbcType="VARCHAR" property="isCircle" />
    <result column="IS_REPAY" jdbcType="VARCHAR" property="isRepay" />
    <result column="LOAN_FUNDS" jdbcType="FLOAT" property="loanFunds" />
    <result column="LOWER_BID_MONEY" jdbcType="VARCHAR" property="lowerBidMoney" />
    <result column="LOWEST_IR" jdbcType="FLOAT" property="lowestIr" />
    <result column="MONTHLY_REPAYMENT" jdbcType="FLOAT" property="monthlyRepayment" />
    <result column="PICKETAGE_TIME" jdbcType="TIMESTAMP" property="picketageTime" />
    <result column="PUBLISH_TIME" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="REPAYMENT_TYPE" jdbcType="DECIMAL" property="repaymentType" />
    <result column="RISK_FEE_SCALE" jdbcType="VARCHAR" property="riskFeeScale" />
    <result column="SAVE_TIME" jdbcType="TIMESTAMP" property="saveTime" />
    <result column="SERVICE_FEE_SCALE" jdbcType="VARCHAR" property="serviceFeeScale" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="VISITOR_COUNT" jdbcType="DECIMAL" property="visitorCount" />
    <result column="WARRANT_FEE_SCALE" jdbcType="VARCHAR" property="warrantFeeScale" />
    <result column="WARRENT_TYPE" jdbcType="DECIMAL" property="warrentType" />
    <result column="YEAR_IR" jdbcType="FLOAT" property="yearIr" />
    <result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="WARRENT_MEMBER_ID" jdbcType="VARCHAR" property="warrentMemberId" />
    <result column="BORROW_TYPE_ID" jdbcType="VARCHAR" property="borrowTypeId" />
    <result column="RWD_PRODUCT_CODE" jdbcType="VARCHAR" property="rwdProductCode" />
    <result column="RWD_COLLATERALS_ID" jdbcType="VARCHAR" property="rwdCollateralsId" />
    <result column="RWD_STORE_CODE" jdbcType="VARCHAR" property="rwdStoreCode" />
    <result column="RWD_APPLY_CHANNEL_CODE" jdbcType="VARCHAR" property="rwdApplyChannelCode" />
    <result column="RWD_BANK_CARD_ID" jdbcType="VARCHAR" property="rwdBankCardId" />
    <result column="RWD_BANK_NAME" jdbcType="VARCHAR" property="rwdBankName" />
    <result column="RWD_OTHER_BANK_CARD" jdbcType="VARCHAR" property="rwdOtherBankCard" />
    <result column="RWD_OTHER_BANK_NAME" jdbcType="VARCHAR" property="rwdOtherBankName" />
    <result column="BORROW_THECROWD" jdbcType="VARCHAR" property="borrowThecrowd" />
    <result column="BORROW_POUNDAGE" jdbcType="VARCHAR" property="borrowPoundage" />
    <result column="BORROW_CODING" jdbcType="VARCHAR" property="borrowCoding" />
    <result column="RWD_GROUP_ID" jdbcType="VARCHAR" property="rwdGroupId" />
    <result column="RWD_GROUP_NAME" jdbcType="VARCHAR" property="rwdGroupName" />
    <result column="APPLICATION_FUNDS" jdbcType="FLOAT" property="applicationFunds" />
    <result column="APPLICATION_BORROWPERIOD" jdbcType="VARCHAR" property="applicationBorrowperiod" />
    <result column="REF_BORROW_ID" jdbcType="VARCHAR" property="refBorrowId" />
    <result column="BORROW_CODE" jdbcType="VARCHAR" property="borrowCode" />
    <result column="COOPBUSCODE" jdbcType="VARCHAR" property="coopbuscode" />
    <result column="BORROW_TYPE" jdbcType="VARCHAR" property="borrowType" />
    <result column="APPLICATION_TIME" jdbcType="TIMESTAMP" property="applicationTime" />
    <result column="SALES_CODE" jdbcType="VARCHAR" property="salesCode" />
    <result column="ADVANCE_FEE_RATE" jdbcType="FLOAT" property="advanceFeeRate" />
    <result column="RADIO_ID" jdbcType="VARCHAR" property="radioId" />
    <result column="DEFINITE_BORROW_STATUS" jdbcType="VARCHAR" property="definiteBorrowStatus" />
    <result column="APPROVAL_TIME" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="TJSOURCE" jdbcType="VARCHAR" property="tjsource" />
    <result column="APPLICATION_YEARIR" jdbcType="FLOAT" property="applicationYearir" />
    <result column="MERCHANTMEMBERID" jdbcType="VARCHAR" property="merchantmemberid" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="TD_REPORT_ID" jdbcType="VARCHAR" property="tdReportId" />
    <result column="CREDIT_FUNDS" jdbcType="FLOAT" property="creditFunds" />
    <result column="LIMU_TOKEN" jdbcType="VARCHAR" property="limuToken" />
    <result column="LIMU_PHONE_AUTH" jdbcType="VARCHAR" property="limuPhoneAuth" />
    <result column="PHONE_VALID" jdbcType="VARCHAR" property="phoneValid" />
    <result column="PROTOCOL_CREDIT_STATUS" jdbcType="VARCHAR" property="protocolCreditStatus" />
    <result column="PROTOCOL_CREDIT_SIGN" jdbcType="VARCHAR" property="protocolCreditSign" />
    <result column="SIGN_TIME" jdbcType="VARCHAR" property="signTime" />
    <result column="OUTSOURCE_STATUS" jdbcType="VARCHAR" property="outsourceStatus" />
    <result column="TANZHI_TOKEN" jdbcType="VARCHAR" property="tanzhiToken" />
    <result column="MG_REPORT_ID" jdbcType="VARCHAR" property="mgReportId" />
    <result column="PY_REPORT_ID" jdbcType="VARCHAR" property="pyReportId" />
    <result column="TANZHI_TOKEN_STATUS" jdbcType="VARCHAR" property="tanzhiTokenStatus" />
    <result column="ORG_FLAG" jdbcType="VARCHAR" property="orgFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OPTIME, ALWN_AHEAD_REPAY, BAD_LOAN, BID_COUNT, BID_MONEY, BID_BS, BORROW_END_TIME, 
    BORROW_PERIOD, BORROW_PHOTO, BORROW_PROGRESS, BORROW_TITLE, BORROW_USE, DEFICIT_APPROVAL, 
    DETAIL_NOTE, END_TIME, EXTEND_LIMIT, HIGHEST_IR, IF_DEFICIT, IR_TYPE, IS_AUTO_REPAYMENT, 
    IS_CIRCLE, IS_REPAY, LOAN_FUNDS, LOWER_BID_MONEY, LOWEST_IR, MONTHLY_REPAYMENT, PICKETAGE_TIME, 
    PUBLISH_TIME, REPAYMENT_TYPE, RISK_FEE_SCALE, SAVE_TIME, SERVICE_FEE_SCALE, STATUS, 
    VISITOR_COUNT, WARRANT_FEE_SCALE, WARRENT_TYPE, YEAR_IR, CONTRACT_ID, MEMBER_ID, 
    WARRENT_MEMBER_ID, BORROW_TYPE_ID, RWD_PRODUCT_CODE, RWD_COLLATERALS_ID, RWD_STORE_CODE, 
    RWD_APPLY_CHANNEL_CODE, RWD_BANK_CARD_ID, RWD_BANK_NAME, RWD_OTHER_BANK_CARD, RWD_OTHER_BANK_NAME, 
    BORROW_THECROWD, BORROW_POUNDAGE, BORROW_CODING, RWD_GROUP_ID, RWD_GROUP_NAME, APPLICATION_FUNDS, 
    APPLICATION_BORROWPERIOD, REF_BORROW_ID, BORROW_CODE, COOPBUSCODE, BORROW_TYPE, APPLICATION_TIME, 
    SALES_CODE, ADVANCE_FEE_RATE, RADIO_ID, DEFINITE_BORROW_STATUS, APPROVAL_TIME, SOURCE, 
    TJSOURCE, APPLICATION_YEARIR, MERCHANTMEMBERID, PRODUCT_ID, TD_REPORT_ID, CREDIT_FUNDS, 
    LIMU_TOKEN, LIMU_PHONE_AUTH, PHONE_VALID, PROTOCOL_CREDIT_STATUS, PROTOCOL_CREDIT_SIGN, 
    SIGN_TIME, OUTSOURCE_STATUS, TANZHI_TOKEN, MG_REPORT_ID, PY_REPORT_ID, TANZHI_TOKEN_STATUS, 
    ORG_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P2P_BORROW
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from P2P_BORROW
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yasinyt.system.entity.Borrow">
    insert into P2P_BORROW (ID, OPTIME, ALWN_AHEAD_REPAY, 
      BAD_LOAN, BID_COUNT, BID_MONEY, 
      BID_BS, BORROW_END_TIME, BORROW_PERIOD, 
      BORROW_PHOTO, BORROW_PROGRESS, BORROW_TITLE, 
      BORROW_USE, DEFICIT_APPROVAL, DETAIL_NOTE, 
      END_TIME, EXTEND_LIMIT, HIGHEST_IR, 
      IF_DEFICIT, IR_TYPE, IS_AUTO_REPAYMENT, 
      IS_CIRCLE, IS_REPAY, LOAN_FUNDS, 
      LOWER_BID_MONEY, LOWEST_IR, MONTHLY_REPAYMENT, 
      PICKETAGE_TIME, PUBLISH_TIME, REPAYMENT_TYPE, 
      RISK_FEE_SCALE, SAVE_TIME, SERVICE_FEE_SCALE, 
      STATUS, VISITOR_COUNT, WARRANT_FEE_SCALE, 
      WARRENT_TYPE, YEAR_IR, CONTRACT_ID, 
      MEMBER_ID, WARRENT_MEMBER_ID, BORROW_TYPE_ID, 
      RWD_PRODUCT_CODE, RWD_COLLATERALS_ID, RWD_STORE_CODE, 
      RWD_APPLY_CHANNEL_CODE, RWD_BANK_CARD_ID, RWD_BANK_NAME, 
      RWD_OTHER_BANK_CARD, RWD_OTHER_BANK_NAME, BORROW_THECROWD, 
      BORROW_POUNDAGE, BORROW_CODING, RWD_GROUP_ID, 
      RWD_GROUP_NAME, APPLICATION_FUNDS, APPLICATION_BORROWPERIOD, 
      REF_BORROW_ID, BORROW_CODE, COOPBUSCODE, 
      BORROW_TYPE, APPLICATION_TIME, SALES_CODE, 
      ADVANCE_FEE_RATE, RADIO_ID, DEFINITE_BORROW_STATUS, 
      APPROVAL_TIME, SOURCE, TJSOURCE, 
      APPLICATION_YEARIR, MERCHANTMEMBERID, PRODUCT_ID, 
      TD_REPORT_ID, CREDIT_FUNDS, LIMU_TOKEN, 
      LIMU_PHONE_AUTH, PHONE_VALID, PROTOCOL_CREDIT_STATUS, 
      PROTOCOL_CREDIT_SIGN, SIGN_TIME, OUTSOURCE_STATUS, 
      TANZHI_TOKEN, MG_REPORT_ID, PY_REPORT_ID, 
      TANZHI_TOKEN_STATUS, ORG_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{alwnAheadRepay,jdbcType=DECIMAL}, 
      #{badLoan,jdbcType=DECIMAL}, #{bidCount,jdbcType=DECIMAL}, #{bidMoney,jdbcType=FLOAT}, 
      #{bidBs,jdbcType=VARCHAR}, #{borrowEndTime,jdbcType=TIMESTAMP}, #{borrowPeriod,jdbcType=VARCHAR}, 
      #{borrowPhoto,jdbcType=VARCHAR}, #{borrowProgress,jdbcType=FLOAT}, #{borrowTitle,jdbcType=VARCHAR}, 
      #{borrowUse,jdbcType=VARCHAR}, #{deficitApproval,jdbcType=DECIMAL}, #{detailNote,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=TIMESTAMP}, #{extendLimit,jdbcType=DECIMAL}, #{highestIr,jdbcType=FLOAT}, 
      #{ifDeficit,jdbcType=DECIMAL}, #{irType,jdbcType=DECIMAL}, #{isAutoRepayment,jdbcType=VARCHAR}, 
      #{isCircle,jdbcType=VARCHAR}, #{isRepay,jdbcType=VARCHAR}, #{loanFunds,jdbcType=FLOAT}, 
      #{lowerBidMoney,jdbcType=VARCHAR}, #{lowestIr,jdbcType=FLOAT}, #{monthlyRepayment,jdbcType=FLOAT}, 
      #{picketageTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, #{repaymentType,jdbcType=DECIMAL}, 
      #{riskFeeScale,jdbcType=VARCHAR}, #{saveTime,jdbcType=TIMESTAMP}, #{serviceFeeScale,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{visitorCount,jdbcType=DECIMAL}, #{warrantFeeScale,jdbcType=VARCHAR}, 
      #{warrentType,jdbcType=DECIMAL}, #{yearIr,jdbcType=FLOAT}, #{contractId,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=VARCHAR}, #{warrentMemberId,jdbcType=VARCHAR}, #{borrowTypeId,jdbcType=VARCHAR}, 
      #{rwdProductCode,jdbcType=VARCHAR}, #{rwdCollateralsId,jdbcType=VARCHAR}, #{rwdStoreCode,jdbcType=VARCHAR}, 
      #{rwdApplyChannelCode,jdbcType=VARCHAR}, #{rwdBankCardId,jdbcType=VARCHAR}, #{rwdBankName,jdbcType=VARCHAR}, 
      #{rwdOtherBankCard,jdbcType=VARCHAR}, #{rwdOtherBankName,jdbcType=VARCHAR}, #{borrowThecrowd,jdbcType=VARCHAR}, 
      #{borrowPoundage,jdbcType=VARCHAR}, #{borrowCoding,jdbcType=VARCHAR}, #{rwdGroupId,jdbcType=VARCHAR}, 
      #{rwdGroupName,jdbcType=VARCHAR}, #{applicationFunds,jdbcType=FLOAT}, #{applicationBorrowperiod,jdbcType=VARCHAR}, 
      #{refBorrowId,jdbcType=VARCHAR}, #{borrowCode,jdbcType=VARCHAR}, #{coopbuscode,jdbcType=VARCHAR}, 
      #{borrowType,jdbcType=VARCHAR}, #{applicationTime,jdbcType=TIMESTAMP}, #{salesCode,jdbcType=VARCHAR}, 
      #{advanceFeeRate,jdbcType=FLOAT}, #{radioId,jdbcType=VARCHAR}, #{definiteBorrowStatus,jdbcType=VARCHAR}, 
      #{approvalTime,jdbcType=TIMESTAMP}, #{source,jdbcType=VARCHAR}, #{tjsource,jdbcType=VARCHAR}, 
      #{applicationYearir,jdbcType=FLOAT}, #{merchantmemberid,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{tdReportId,jdbcType=VARCHAR}, #{creditFunds,jdbcType=FLOAT}, #{limuToken,jdbcType=VARCHAR}, 
      #{limuPhoneAuth,jdbcType=VARCHAR}, #{phoneValid,jdbcType=VARCHAR}, #{protocolCreditStatus,jdbcType=VARCHAR}, 
      #{protocolCreditSign,jdbcType=VARCHAR}, #{signTime,jdbcType=VARCHAR}, #{outsourceStatus,jdbcType=VARCHAR}, 
      #{tanzhiToken,jdbcType=VARCHAR}, #{mgReportId,jdbcType=VARCHAR}, #{pyReportId,jdbcType=VARCHAR}, 
      #{tanzhiTokenStatus,jdbcType=VARCHAR}, #{orgFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yasinyt.system.entity.Borrow">
    insert into P2P_BORROW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="optime != null">
        OPTIME,
      </if>
      <if test="alwnAheadRepay != null">
        ALWN_AHEAD_REPAY,
      </if>
      <if test="badLoan != null">
        BAD_LOAN,
      </if>
      <if test="bidCount != null">
        BID_COUNT,
      </if>
      <if test="bidMoney != null">
        BID_MONEY,
      </if>
      <if test="bidBs != null">
        BID_BS,
      </if>
      <if test="borrowEndTime != null">
        BORROW_END_TIME,
      </if>
      <if test="borrowPeriod != null">
        BORROW_PERIOD,
      </if>
      <if test="borrowPhoto != null">
        BORROW_PHOTO,
      </if>
      <if test="borrowProgress != null">
        BORROW_PROGRESS,
      </if>
      <if test="borrowTitle != null">
        BORROW_TITLE,
      </if>
      <if test="borrowUse != null">
        BORROW_USE,
      </if>
      <if test="deficitApproval != null">
        DEFICIT_APPROVAL,
      </if>
      <if test="detailNote != null">
        DETAIL_NOTE,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="extendLimit != null">
        EXTEND_LIMIT,
      </if>
      <if test="highestIr != null">
        HIGHEST_IR,
      </if>
      <if test="ifDeficit != null">
        IF_DEFICIT,
      </if>
      <if test="irType != null">
        IR_TYPE,
      </if>
      <if test="isAutoRepayment != null">
        IS_AUTO_REPAYMENT,
      </if>
      <if test="isCircle != null">
        IS_CIRCLE,
      </if>
      <if test="isRepay != null">
        IS_REPAY,
      </if>
      <if test="loanFunds != null">
        LOAN_FUNDS,
      </if>
      <if test="lowerBidMoney != null">
        LOWER_BID_MONEY,
      </if>
      <if test="lowestIr != null">
        LOWEST_IR,
      </if>
      <if test="monthlyRepayment != null">
        MONTHLY_REPAYMENT,
      </if>
      <if test="picketageTime != null">
        PICKETAGE_TIME,
      </if>
      <if test="publishTime != null">
        PUBLISH_TIME,
      </if>
      <if test="repaymentType != null">
        REPAYMENT_TYPE,
      </if>
      <if test="riskFeeScale != null">
        RISK_FEE_SCALE,
      </if>
      <if test="saveTime != null">
        SAVE_TIME,
      </if>
      <if test="serviceFeeScale != null">
        SERVICE_FEE_SCALE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="visitorCount != null">
        VISITOR_COUNT,
      </if>
      <if test="warrantFeeScale != null">
        WARRANT_FEE_SCALE,
      </if>
      <if test="warrentType != null">
        WARRENT_TYPE,
      </if>
      <if test="yearIr != null">
        YEAR_IR,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="warrentMemberId != null">
        WARRENT_MEMBER_ID,
      </if>
      <if test="borrowTypeId != null">
        BORROW_TYPE_ID,
      </if>
      <if test="rwdProductCode != null">
        RWD_PRODUCT_CODE,
      </if>
      <if test="rwdCollateralsId != null">
        RWD_COLLATERALS_ID,
      </if>
      <if test="rwdStoreCode != null">
        RWD_STORE_CODE,
      </if>
      <if test="rwdApplyChannelCode != null">
        RWD_APPLY_CHANNEL_CODE,
      </if>
      <if test="rwdBankCardId != null">
        RWD_BANK_CARD_ID,
      </if>
      <if test="rwdBankName != null">
        RWD_BANK_NAME,
      </if>
      <if test="rwdOtherBankCard != null">
        RWD_OTHER_BANK_CARD,
      </if>
      <if test="rwdOtherBankName != null">
        RWD_OTHER_BANK_NAME,
      </if>
      <if test="borrowThecrowd != null">
        BORROW_THECROWD,
      </if>
      <if test="borrowPoundage != null">
        BORROW_POUNDAGE,
      </if>
      <if test="borrowCoding != null">
        BORROW_CODING,
      </if>
      <if test="rwdGroupId != null">
        RWD_GROUP_ID,
      </if>
      <if test="rwdGroupName != null">
        RWD_GROUP_NAME,
      </if>
      <if test="applicationFunds != null">
        APPLICATION_FUNDS,
      </if>
      <if test="applicationBorrowperiod != null">
        APPLICATION_BORROWPERIOD,
      </if>
      <if test="refBorrowId != null">
        REF_BORROW_ID,
      </if>
      <if test="borrowCode != null">
        BORROW_CODE,
      </if>
      <if test="coopbuscode != null">
        COOPBUSCODE,
      </if>
      <if test="borrowType != null">
        BORROW_TYPE,
      </if>
      <if test="applicationTime != null">
        APPLICATION_TIME,
      </if>
      <if test="salesCode != null">
        SALES_CODE,
      </if>
      <if test="advanceFeeRate != null">
        ADVANCE_FEE_RATE,
      </if>
      <if test="radioId != null">
        RADIO_ID,
      </if>
      <if test="definiteBorrowStatus != null">
        DEFINITE_BORROW_STATUS,
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="tjsource != null">
        TJSOURCE,
      </if>
      <if test="applicationYearir != null">
        APPLICATION_YEARIR,
      </if>
      <if test="merchantmemberid != null">
        MERCHANTMEMBERID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="tdReportId != null">
        TD_REPORT_ID,
      </if>
      <if test="creditFunds != null">
        CREDIT_FUNDS,
      </if>
      <if test="limuToken != null">
        LIMU_TOKEN,
      </if>
      <if test="limuPhoneAuth != null">
        LIMU_PHONE_AUTH,
      </if>
      <if test="phoneValid != null">
        PHONE_VALID,
      </if>
      <if test="protocolCreditStatus != null">
        PROTOCOL_CREDIT_STATUS,
      </if>
      <if test="protocolCreditSign != null">
        PROTOCOL_CREDIT_SIGN,
      </if>
      <if test="signTime != null">
        SIGN_TIME,
      </if>
      <if test="outsourceStatus != null">
        OUTSOURCE_STATUS,
      </if>
      <if test="tanzhiToken != null">
        TANZHI_TOKEN,
      </if>
      <if test="mgReportId != null">
        MG_REPORT_ID,
      </if>
      <if test="pyReportId != null">
        PY_REPORT_ID,
      </if>
      <if test="tanzhiTokenStatus != null">
        TANZHI_TOKEN_STATUS,
      </if>
      <if test="orgFlag != null">
        ORG_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="alwnAheadRepay != null">
        #{alwnAheadRepay,jdbcType=DECIMAL},
      </if>
      <if test="badLoan != null">
        #{badLoan,jdbcType=DECIMAL},
      </if>
      <if test="bidCount != null">
        #{bidCount,jdbcType=DECIMAL},
      </if>
      <if test="bidMoney != null">
        #{bidMoney,jdbcType=FLOAT},
      </if>
      <if test="bidBs != null">
        #{bidBs,jdbcType=VARCHAR},
      </if>
      <if test="borrowEndTime != null">
        #{borrowEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowPeriod != null">
        #{borrowPeriod,jdbcType=VARCHAR},
      </if>
      <if test="borrowPhoto != null">
        #{borrowPhoto,jdbcType=VARCHAR},
      </if>
      <if test="borrowProgress != null">
        #{borrowProgress,jdbcType=FLOAT},
      </if>
      <if test="borrowTitle != null">
        #{borrowTitle,jdbcType=VARCHAR},
      </if>
      <if test="borrowUse != null">
        #{borrowUse,jdbcType=VARCHAR},
      </if>
      <if test="deficitApproval != null">
        #{deficitApproval,jdbcType=DECIMAL},
      </if>
      <if test="detailNote != null">
        #{detailNote,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extendLimit != null">
        #{extendLimit,jdbcType=DECIMAL},
      </if>
      <if test="highestIr != null">
        #{highestIr,jdbcType=FLOAT},
      </if>
      <if test="ifDeficit != null">
        #{ifDeficit,jdbcType=DECIMAL},
      </if>
      <if test="irType != null">
        #{irType,jdbcType=DECIMAL},
      </if>
      <if test="isAutoRepayment != null">
        #{isAutoRepayment,jdbcType=VARCHAR},
      </if>
      <if test="isCircle != null">
        #{isCircle,jdbcType=VARCHAR},
      </if>
      <if test="isRepay != null">
        #{isRepay,jdbcType=VARCHAR},
      </if>
      <if test="loanFunds != null">
        #{loanFunds,jdbcType=FLOAT},
      </if>
      <if test="lowerBidMoney != null">
        #{lowerBidMoney,jdbcType=VARCHAR},
      </if>
      <if test="lowestIr != null">
        #{lowestIr,jdbcType=FLOAT},
      </if>
      <if test="monthlyRepayment != null">
        #{monthlyRepayment,jdbcType=FLOAT},
      </if>
      <if test="picketageTime != null">
        #{picketageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentType != null">
        #{repaymentType,jdbcType=DECIMAL},
      </if>
      <if test="riskFeeScale != null">
        #{riskFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="saveTime != null">
        #{saveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceFeeScale != null">
        #{serviceFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="visitorCount != null">
        #{visitorCount,jdbcType=DECIMAL},
      </if>
      <if test="warrantFeeScale != null">
        #{warrantFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="warrentType != null">
        #{warrentType,jdbcType=DECIMAL},
      </if>
      <if test="yearIr != null">
        #{yearIr,jdbcType=FLOAT},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="warrentMemberId != null">
        #{warrentMemberId,jdbcType=VARCHAR},
      </if>
      <if test="borrowTypeId != null">
        #{borrowTypeId,jdbcType=VARCHAR},
      </if>
      <if test="rwdProductCode != null">
        #{rwdProductCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdCollateralsId != null">
        #{rwdCollateralsId,jdbcType=VARCHAR},
      </if>
      <if test="rwdStoreCode != null">
        #{rwdStoreCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdApplyChannelCode != null">
        #{rwdApplyChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdBankCardId != null">
        #{rwdBankCardId,jdbcType=VARCHAR},
      </if>
      <if test="rwdBankName != null">
        #{rwdBankName,jdbcType=VARCHAR},
      </if>
      <if test="rwdOtherBankCard != null">
        #{rwdOtherBankCard,jdbcType=VARCHAR},
      </if>
      <if test="rwdOtherBankName != null">
        #{rwdOtherBankName,jdbcType=VARCHAR},
      </if>
      <if test="borrowThecrowd != null">
        #{borrowThecrowd,jdbcType=VARCHAR},
      </if>
      <if test="borrowPoundage != null">
        #{borrowPoundage,jdbcType=VARCHAR},
      </if>
      <if test="borrowCoding != null">
        #{borrowCoding,jdbcType=VARCHAR},
      </if>
      <if test="rwdGroupId != null">
        #{rwdGroupId,jdbcType=VARCHAR},
      </if>
      <if test="rwdGroupName != null">
        #{rwdGroupName,jdbcType=VARCHAR},
      </if>
      <if test="applicationFunds != null">
        #{applicationFunds,jdbcType=FLOAT},
      </if>
      <if test="applicationBorrowperiod != null">
        #{applicationBorrowperiod,jdbcType=VARCHAR},
      </if>
      <if test="refBorrowId != null">
        #{refBorrowId,jdbcType=VARCHAR},
      </if>
      <if test="borrowCode != null">
        #{borrowCode,jdbcType=VARCHAR},
      </if>
      <if test="coopbuscode != null">
        #{coopbuscode,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null">
        #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null">
        #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesCode != null">
        #{salesCode,jdbcType=VARCHAR},
      </if>
      <if test="advanceFeeRate != null">
        #{advanceFeeRate,jdbcType=FLOAT},
      </if>
      <if test="radioId != null">
        #{radioId,jdbcType=VARCHAR},
      </if>
      <if test="definiteBorrowStatus != null">
        #{definiteBorrowStatus,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="tjsource != null">
        #{tjsource,jdbcType=VARCHAR},
      </if>
      <if test="applicationYearir != null">
        #{applicationYearir,jdbcType=FLOAT},
      </if>
      <if test="merchantmemberid != null">
        #{merchantmemberid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="tdReportId != null">
        #{tdReportId,jdbcType=VARCHAR},
      </if>
      <if test="creditFunds != null">
        #{creditFunds,jdbcType=FLOAT},
      </if>
      <if test="limuToken != null">
        #{limuToken,jdbcType=VARCHAR},
      </if>
      <if test="limuPhoneAuth != null">
        #{limuPhoneAuth,jdbcType=VARCHAR},
      </if>
      <if test="phoneValid != null">
        #{phoneValid,jdbcType=VARCHAR},
      </if>
      <if test="protocolCreditStatus != null">
        #{protocolCreditStatus,jdbcType=VARCHAR},
      </if>
      <if test="protocolCreditSign != null">
        #{protocolCreditSign,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=VARCHAR},
      </if>
      <if test="outsourceStatus != null">
        #{outsourceStatus,jdbcType=VARCHAR},
      </if>
      <if test="tanzhiToken != null">
        #{tanzhiToken,jdbcType=VARCHAR},
      </if>
      <if test="mgReportId != null">
        #{mgReportId,jdbcType=VARCHAR},
      </if>
      <if test="pyReportId != null">
        #{pyReportId,jdbcType=VARCHAR},
      </if>
      <if test="tanzhiTokenStatus != null">
        #{tanzhiTokenStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgFlag != null">
        #{orgFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yasinyt.system.entity.Borrow">
    update P2P_BORROW
    <set>
      <if test="optime != null">
        OPTIME = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="alwnAheadRepay != null">
        ALWN_AHEAD_REPAY = #{alwnAheadRepay,jdbcType=DECIMAL},
      </if>
      <if test="badLoan != null">
        BAD_LOAN = #{badLoan,jdbcType=DECIMAL},
      </if>
      <if test="bidCount != null">
        BID_COUNT = #{bidCount,jdbcType=DECIMAL},
      </if>
      <if test="bidMoney != null">
        BID_MONEY = #{bidMoney,jdbcType=FLOAT},
      </if>
      <if test="bidBs != null">
        BID_BS = #{bidBs,jdbcType=VARCHAR},
      </if>
      <if test="borrowEndTime != null">
        BORROW_END_TIME = #{borrowEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="borrowPeriod != null">
        BORROW_PERIOD = #{borrowPeriod,jdbcType=VARCHAR},
      </if>
      <if test="borrowPhoto != null">
        BORROW_PHOTO = #{borrowPhoto,jdbcType=VARCHAR},
      </if>
      <if test="borrowProgress != null">
        BORROW_PROGRESS = #{borrowProgress,jdbcType=FLOAT},
      </if>
      <if test="borrowTitle != null">
        BORROW_TITLE = #{borrowTitle,jdbcType=VARCHAR},
      </if>
      <if test="borrowUse != null">
        BORROW_USE = #{borrowUse,jdbcType=VARCHAR},
      </if>
      <if test="deficitApproval != null">
        DEFICIT_APPROVAL = #{deficitApproval,jdbcType=DECIMAL},
      </if>
      <if test="detailNote != null">
        DETAIL_NOTE = #{detailNote,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extendLimit != null">
        EXTEND_LIMIT = #{extendLimit,jdbcType=DECIMAL},
      </if>
      <if test="highestIr != null">
        HIGHEST_IR = #{highestIr,jdbcType=FLOAT},
      </if>
      <if test="ifDeficit != null">
        IF_DEFICIT = #{ifDeficit,jdbcType=DECIMAL},
      </if>
      <if test="irType != null">
        IR_TYPE = #{irType,jdbcType=DECIMAL},
      </if>
      <if test="isAutoRepayment != null">
        IS_AUTO_REPAYMENT = #{isAutoRepayment,jdbcType=VARCHAR},
      </if>
      <if test="isCircle != null">
        IS_CIRCLE = #{isCircle,jdbcType=VARCHAR},
      </if>
      <if test="isRepay != null">
        IS_REPAY = #{isRepay,jdbcType=VARCHAR},
      </if>
      <if test="loanFunds != null">
        LOAN_FUNDS = #{loanFunds,jdbcType=FLOAT},
      </if>
      <if test="lowerBidMoney != null">
        LOWER_BID_MONEY = #{lowerBidMoney,jdbcType=VARCHAR},
      </if>
      <if test="lowestIr != null">
        LOWEST_IR = #{lowestIr,jdbcType=FLOAT},
      </if>
      <if test="monthlyRepayment != null">
        MONTHLY_REPAYMENT = #{monthlyRepayment,jdbcType=FLOAT},
      </if>
      <if test="picketageTime != null">
        PICKETAGE_TIME = #{picketageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null">
        PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentType != null">
        REPAYMENT_TYPE = #{repaymentType,jdbcType=DECIMAL},
      </if>
      <if test="riskFeeScale != null">
        RISK_FEE_SCALE = #{riskFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="saveTime != null">
        SAVE_TIME = #{saveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceFeeScale != null">
        SERVICE_FEE_SCALE = #{serviceFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="visitorCount != null">
        VISITOR_COUNT = #{visitorCount,jdbcType=DECIMAL},
      </if>
      <if test="warrantFeeScale != null">
        WARRANT_FEE_SCALE = #{warrantFeeScale,jdbcType=VARCHAR},
      </if>
      <if test="warrentType != null">
        WARRENT_TYPE = #{warrentType,jdbcType=DECIMAL},
      </if>
      <if test="yearIr != null">
        YEAR_IR = #{yearIr,jdbcType=FLOAT},
      </if>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="warrentMemberId != null">
        WARRENT_MEMBER_ID = #{warrentMemberId,jdbcType=VARCHAR},
      </if>
      <if test="borrowTypeId != null">
        BORROW_TYPE_ID = #{borrowTypeId,jdbcType=VARCHAR},
      </if>
      <if test="rwdProductCode != null">
        RWD_PRODUCT_CODE = #{rwdProductCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdCollateralsId != null">
        RWD_COLLATERALS_ID = #{rwdCollateralsId,jdbcType=VARCHAR},
      </if>
      <if test="rwdStoreCode != null">
        RWD_STORE_CODE = #{rwdStoreCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdApplyChannelCode != null">
        RWD_APPLY_CHANNEL_CODE = #{rwdApplyChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="rwdBankCardId != null">
        RWD_BANK_CARD_ID = #{rwdBankCardId,jdbcType=VARCHAR},
      </if>
      <if test="rwdBankName != null">
        RWD_BANK_NAME = #{rwdBankName,jdbcType=VARCHAR},
      </if>
      <if test="rwdOtherBankCard != null">
        RWD_OTHER_BANK_CARD = #{rwdOtherBankCard,jdbcType=VARCHAR},
      </if>
      <if test="rwdOtherBankName != null">
        RWD_OTHER_BANK_NAME = #{rwdOtherBankName,jdbcType=VARCHAR},
      </if>
      <if test="borrowThecrowd != null">
        BORROW_THECROWD = #{borrowThecrowd,jdbcType=VARCHAR},
      </if>
      <if test="borrowPoundage != null">
        BORROW_POUNDAGE = #{borrowPoundage,jdbcType=VARCHAR},
      </if>
      <if test="borrowCoding != null">
        BORROW_CODING = #{borrowCoding,jdbcType=VARCHAR},
      </if>
      <if test="rwdGroupId != null">
        RWD_GROUP_ID = #{rwdGroupId,jdbcType=VARCHAR},
      </if>
      <if test="rwdGroupName != null">
        RWD_GROUP_NAME = #{rwdGroupName,jdbcType=VARCHAR},
      </if>
      <if test="applicationFunds != null">
        APPLICATION_FUNDS = #{applicationFunds,jdbcType=FLOAT},
      </if>
      <if test="applicationBorrowperiod != null">
        APPLICATION_BORROWPERIOD = #{applicationBorrowperiod,jdbcType=VARCHAR},
      </if>
      <if test="refBorrowId != null">
        REF_BORROW_ID = #{refBorrowId,jdbcType=VARCHAR},
      </if>
      <if test="borrowCode != null">
        BORROW_CODE = #{borrowCode,jdbcType=VARCHAR},
      </if>
      <if test="coopbuscode != null">
        COOPBUSCODE = #{coopbuscode,jdbcType=VARCHAR},
      </if>
      <if test="borrowType != null">
        BORROW_TYPE = #{borrowType,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null">
        APPLICATION_TIME = #{applicationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesCode != null">
        SALES_CODE = #{salesCode,jdbcType=VARCHAR},
      </if>
      <if test="advanceFeeRate != null">
        ADVANCE_FEE_RATE = #{advanceFeeRate,jdbcType=FLOAT},
      </if>
      <if test="radioId != null">
        RADIO_ID = #{radioId,jdbcType=VARCHAR},
      </if>
      <if test="definiteBorrowStatus != null">
        DEFINITE_BORROW_STATUS = #{definiteBorrowStatus,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="tjsource != null">
        TJSOURCE = #{tjsource,jdbcType=VARCHAR},
      </if>
      <if test="applicationYearir != null">
        APPLICATION_YEARIR = #{applicationYearir,jdbcType=FLOAT},
      </if>
      <if test="merchantmemberid != null">
        MERCHANTMEMBERID = #{merchantmemberid,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="tdReportId != null">
        TD_REPORT_ID = #{tdReportId,jdbcType=VARCHAR},
      </if>
      <if test="creditFunds != null">
        CREDIT_FUNDS = #{creditFunds,jdbcType=FLOAT},
      </if>
      <if test="limuToken != null">
        LIMU_TOKEN = #{limuToken,jdbcType=VARCHAR},
      </if>
      <if test="limuPhoneAuth != null">
        LIMU_PHONE_AUTH = #{limuPhoneAuth,jdbcType=VARCHAR},
      </if>
      <if test="phoneValid != null">
        PHONE_VALID = #{phoneValid,jdbcType=VARCHAR},
      </if>
      <if test="protocolCreditStatus != null">
        PROTOCOL_CREDIT_STATUS = #{protocolCreditStatus,jdbcType=VARCHAR},
      </if>
      <if test="protocolCreditSign != null">
        PROTOCOL_CREDIT_SIGN = #{protocolCreditSign,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        SIGN_TIME = #{signTime,jdbcType=VARCHAR},
      </if>
      <if test="outsourceStatus != null">
        OUTSOURCE_STATUS = #{outsourceStatus,jdbcType=VARCHAR},
      </if>
      <if test="tanzhiToken != null">
        TANZHI_TOKEN = #{tanzhiToken,jdbcType=VARCHAR},
      </if>
      <if test="mgReportId != null">
        MG_REPORT_ID = #{mgReportId,jdbcType=VARCHAR},
      </if>
      <if test="pyReportId != null">
        PY_REPORT_ID = #{pyReportId,jdbcType=VARCHAR},
      </if>
      <if test="tanzhiTokenStatus != null">
        TANZHI_TOKEN_STATUS = #{tanzhiTokenStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgFlag != null">
        ORG_FLAG = #{orgFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yasinyt.system.entity.Borrow">
    update P2P_BORROW
    set OPTIME = #{optime,jdbcType=TIMESTAMP},
      ALWN_AHEAD_REPAY = #{alwnAheadRepay,jdbcType=DECIMAL},
      BAD_LOAN = #{badLoan,jdbcType=DECIMAL},
      BID_COUNT = #{bidCount,jdbcType=DECIMAL},
      BID_MONEY = #{bidMoney,jdbcType=FLOAT},
      BID_BS = #{bidBs,jdbcType=VARCHAR},
      BORROW_END_TIME = #{borrowEndTime,jdbcType=TIMESTAMP},
      BORROW_PERIOD = #{borrowPeriod,jdbcType=VARCHAR},
      BORROW_PHOTO = #{borrowPhoto,jdbcType=VARCHAR},
      BORROW_PROGRESS = #{borrowProgress,jdbcType=FLOAT},
      BORROW_TITLE = #{borrowTitle,jdbcType=VARCHAR},
      BORROW_USE = #{borrowUse,jdbcType=VARCHAR},
      DEFICIT_APPROVAL = #{deficitApproval,jdbcType=DECIMAL},
      DETAIL_NOTE = #{detailNote,jdbcType=VARCHAR},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      EXTEND_LIMIT = #{extendLimit,jdbcType=DECIMAL},
      HIGHEST_IR = #{highestIr,jdbcType=FLOAT},
      IF_DEFICIT = #{ifDeficit,jdbcType=DECIMAL},
      IR_TYPE = #{irType,jdbcType=DECIMAL},
      IS_AUTO_REPAYMENT = #{isAutoRepayment,jdbcType=VARCHAR},
      IS_CIRCLE = #{isCircle,jdbcType=VARCHAR},
      IS_REPAY = #{isRepay,jdbcType=VARCHAR},
      LOAN_FUNDS = #{loanFunds,jdbcType=FLOAT},
      LOWER_BID_MONEY = #{lowerBidMoney,jdbcType=VARCHAR},
      LOWEST_IR = #{lowestIr,jdbcType=FLOAT},
      MONTHLY_REPAYMENT = #{monthlyRepayment,jdbcType=FLOAT},
      PICKETAGE_TIME = #{picketageTime,jdbcType=TIMESTAMP},
      PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP},
      REPAYMENT_TYPE = #{repaymentType,jdbcType=DECIMAL},
      RISK_FEE_SCALE = #{riskFeeScale,jdbcType=VARCHAR},
      SAVE_TIME = #{saveTime,jdbcType=TIMESTAMP},
      SERVICE_FEE_SCALE = #{serviceFeeScale,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      VISITOR_COUNT = #{visitorCount,jdbcType=DECIMAL},
      WARRANT_FEE_SCALE = #{warrantFeeScale,jdbcType=VARCHAR},
      WARRENT_TYPE = #{warrentType,jdbcType=DECIMAL},
      YEAR_IR = #{yearIr,jdbcType=FLOAT},
      CONTRACT_ID = #{contractId,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      WARRENT_MEMBER_ID = #{warrentMemberId,jdbcType=VARCHAR},
      BORROW_TYPE_ID = #{borrowTypeId,jdbcType=VARCHAR},
      RWD_PRODUCT_CODE = #{rwdProductCode,jdbcType=VARCHAR},
      RWD_COLLATERALS_ID = #{rwdCollateralsId,jdbcType=VARCHAR},
      RWD_STORE_CODE = #{rwdStoreCode,jdbcType=VARCHAR},
      RWD_APPLY_CHANNEL_CODE = #{rwdApplyChannelCode,jdbcType=VARCHAR},
      RWD_BANK_CARD_ID = #{rwdBankCardId,jdbcType=VARCHAR},
      RWD_BANK_NAME = #{rwdBankName,jdbcType=VARCHAR},
      RWD_OTHER_BANK_CARD = #{rwdOtherBankCard,jdbcType=VARCHAR},
      RWD_OTHER_BANK_NAME = #{rwdOtherBankName,jdbcType=VARCHAR},
      BORROW_THECROWD = #{borrowThecrowd,jdbcType=VARCHAR},
      BORROW_POUNDAGE = #{borrowPoundage,jdbcType=VARCHAR},
      BORROW_CODING = #{borrowCoding,jdbcType=VARCHAR},
      RWD_GROUP_ID = #{rwdGroupId,jdbcType=VARCHAR},
      RWD_GROUP_NAME = #{rwdGroupName,jdbcType=VARCHAR},
      APPLICATION_FUNDS = #{applicationFunds,jdbcType=FLOAT},
      APPLICATION_BORROWPERIOD = #{applicationBorrowperiod,jdbcType=VARCHAR},
      REF_BORROW_ID = #{refBorrowId,jdbcType=VARCHAR},
      BORROW_CODE = #{borrowCode,jdbcType=VARCHAR},
      COOPBUSCODE = #{coopbuscode,jdbcType=VARCHAR},
      BORROW_TYPE = #{borrowType,jdbcType=VARCHAR},
      APPLICATION_TIME = #{applicationTime,jdbcType=TIMESTAMP},
      SALES_CODE = #{salesCode,jdbcType=VARCHAR},
      ADVANCE_FEE_RATE = #{advanceFeeRate,jdbcType=FLOAT},
      RADIO_ID = #{radioId,jdbcType=VARCHAR},
      DEFINITE_BORROW_STATUS = #{definiteBorrowStatus,jdbcType=VARCHAR},
      APPROVAL_TIME = #{approvalTime,jdbcType=TIMESTAMP},
      SOURCE = #{source,jdbcType=VARCHAR},
      TJSOURCE = #{tjsource,jdbcType=VARCHAR},
      APPLICATION_YEARIR = #{applicationYearir,jdbcType=FLOAT},
      MERCHANTMEMBERID = #{merchantmemberid,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      TD_REPORT_ID = #{tdReportId,jdbcType=VARCHAR},
      CREDIT_FUNDS = #{creditFunds,jdbcType=FLOAT},
      LIMU_TOKEN = #{limuToken,jdbcType=VARCHAR},
      LIMU_PHONE_AUTH = #{limuPhoneAuth,jdbcType=VARCHAR},
      PHONE_VALID = #{phoneValid,jdbcType=VARCHAR},
      PROTOCOL_CREDIT_STATUS = #{protocolCreditStatus,jdbcType=VARCHAR},
      PROTOCOL_CREDIT_SIGN = #{protocolCreditSign,jdbcType=VARCHAR},
      SIGN_TIME = #{signTime,jdbcType=VARCHAR},
      OUTSOURCE_STATUS = #{outsourceStatus,jdbcType=VARCHAR},
      TANZHI_TOKEN = #{tanzhiToken,jdbcType=VARCHAR},
      MG_REPORT_ID = #{mgReportId,jdbcType=VARCHAR},
      PY_REPORT_ID = #{pyReportId,jdbcType=VARCHAR},
      TANZHI_TOKEN_STATUS = #{tanzhiTokenStatus,jdbcType=VARCHAR},
      ORG_FLAG = #{orgFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>