<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yasinyt.system.dao.MembersDao">
  <resultMap id="BaseResultMap" type="com.yasinyt.system.entity.Members">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPTIME" jdbcType="TIMESTAMP" property="optime" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="IF_DATA_COMPLETE" jdbcType="DECIMAL" property="ifDataComplete" />
    <result column="IF_ENTER_PRICE_DATA_COMPLETE" jdbcType="DECIMAL" property="ifEnterPriceDataComplete" />
    <result column="IF_REAL_NAME_AUTH" jdbcType="DECIMAL" property="ifRealNameAuth" />
    <result column="MEMBER_FEE_END_DATE" jdbcType="TIMESTAMP" property="memberFeeEndDate" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PAY_MEMBER_FEE_STATUS" jdbcType="DECIMAL" property="payMemberFeeStatus" />
    <result column="SIT_NO" jdbcType="VARCHAR" property="sitNo" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_NIC" jdbcType="VARCHAR" property="userNic" />
    <result column="USER_CUST_ID" jdbcType="VARCHAR" property="userCustId" />
    <result column="RWD_CUSTOMER_MANAGER" jdbcType="VARCHAR" property="rwdCustomerManager" />
    <result column="SYSUSER" jdbcType="VARCHAR" property="sysuser" />
    <result column="QUESTION_SCORE" jdbcType="DECIMAL" property="questionScore" />
    <result column="ISOPENAUTOAUTH" jdbcType="DECIMAL" property="isopenautoauth" />
    <result column="MEMBER_CODE" jdbcType="VARCHAR" property="memberCode" />
    <result column="PMEMBER_CODE" jdbcType="VARCHAR" property="pmemberCode" />
    <result column="MEMBER_FLAG" jdbcType="VARCHAR" property="memberFlag" />
    <result column="EMAIL_EFFECTIVE" jdbcType="DECIMAL" property="emailEffective" />
    <result column="CUSTOMER_LEVEL" jdbcType="VARCHAR" property="customerLevel" />
    <result column="IS_SUPORRT_TRANS_MENU" jdbcType="DECIMAL" property="isSuporrtTransMenu" />
    <result column="IS_REALMERCHANT" jdbcType="DECIMAL" property="isRealmerchant" />
    <result column="OFFLINE_DAMAGES" jdbcType="FLOAT" property="offlineDamages" />
    <result column="WITHDROW_FEEMODE" jdbcType="DECIMAL" property="withdrowFeemode" />
    <result column="OPENID" jdbcType="VARCHAR" property="openid" />
    <result column="MONEYMOREMOREID" jdbcType="VARCHAR" property="moneymoremoreid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OPTIME, EMAIL, IF_DATA_COMPLETE, IF_ENTER_PRICE_DATA_COMPLETE, IF_REAL_NAME_AUTH, 
    MEMBER_FEE_END_DATE, PASSWORD, PAY_MEMBER_FEE_STATUS, SIT_NO, SOURCE, STATUS, TYPE, 
    USER_NAME, USER_NIC, USER_CUST_ID, RWD_CUSTOMER_MANAGER, SYSUSER, QUESTION_SCORE, 
    ISOPENAUTOAUTH, MEMBER_CODE, PMEMBER_CODE, MEMBER_FLAG, EMAIL_EFFECTIVE, CUSTOMER_LEVEL, 
    IS_SUPORRT_TRANS_MENU, IS_REALMERCHANT, OFFLINE_DAMAGES, WITHDROW_FEEMODE, OPENID, 
    MONEYMOREMOREID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P2P_MEMBERS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from P2P_MEMBERS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yasinyt.system.entity.Members">
    insert into P2P_MEMBERS (ID, OPTIME, EMAIL, 
      IF_DATA_COMPLETE, IF_ENTER_PRICE_DATA_COMPLETE, 
      IF_REAL_NAME_AUTH, MEMBER_FEE_END_DATE, PASSWORD, 
      PAY_MEMBER_FEE_STATUS, SIT_NO, SOURCE, 
      STATUS, TYPE, USER_NAME, 
      USER_NIC, USER_CUST_ID, RWD_CUSTOMER_MANAGER, 
      SYSUSER, QUESTION_SCORE, ISOPENAUTOAUTH, 
      MEMBER_CODE, PMEMBER_CODE, MEMBER_FLAG, 
      EMAIL_EFFECTIVE, CUSTOMER_LEVEL, IS_SUPORRT_TRANS_MENU, 
      IS_REALMERCHANT, OFFLINE_DAMAGES, WITHDROW_FEEMODE, 
      OPENID, MONEYMOREMOREID)
    values (#{id,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, 
      #{ifDataComplete,jdbcType=DECIMAL}, #{ifEnterPriceDataComplete,jdbcType=DECIMAL}, 
      #{ifRealNameAuth,jdbcType=DECIMAL}, #{memberFeeEndDate,jdbcType=TIMESTAMP}, #{password,jdbcType=VARCHAR}, 
      #{payMemberFeeStatus,jdbcType=DECIMAL}, #{sitNo,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userNic,jdbcType=VARCHAR}, #{userCustId,jdbcType=VARCHAR}, #{rwdCustomerManager,jdbcType=VARCHAR}, 
      #{sysuser,jdbcType=VARCHAR}, #{questionScore,jdbcType=DECIMAL}, #{isopenautoauth,jdbcType=DECIMAL}, 
      #{memberCode,jdbcType=VARCHAR}, #{pmemberCode,jdbcType=VARCHAR}, #{memberFlag,jdbcType=VARCHAR}, 
      #{emailEffective,jdbcType=DECIMAL}, #{customerLevel,jdbcType=VARCHAR}, #{isSuporrtTransMenu,jdbcType=DECIMAL}, 
      #{isRealmerchant,jdbcType=DECIMAL}, #{offlineDamages,jdbcType=FLOAT}, #{withdrowFeemode,jdbcType=DECIMAL}, 
      #{openid,jdbcType=VARCHAR}, #{moneymoremoreid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yasinyt.system.entity.Members">
    insert into P2P_MEMBERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="optime != null">
        OPTIME,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="ifDataComplete != null">
        IF_DATA_COMPLETE,
      </if>
      <if test="ifEnterPriceDataComplete != null">
        IF_ENTER_PRICE_DATA_COMPLETE,
      </if>
      <if test="ifRealNameAuth != null">
        IF_REAL_NAME_AUTH,
      </if>
      <if test="memberFeeEndDate != null">
        MEMBER_FEE_END_DATE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="payMemberFeeStatus != null">
        PAY_MEMBER_FEE_STATUS,
      </if>
      <if test="sitNo != null">
        SIT_NO,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userNic != null">
        USER_NIC,
      </if>
      <if test="userCustId != null">
        USER_CUST_ID,
      </if>
      <if test="rwdCustomerManager != null">
        RWD_CUSTOMER_MANAGER,
      </if>
      <if test="sysuser != null">
        SYSUSER,
      </if>
      <if test="questionScore != null">
        QUESTION_SCORE,
      </if>
      <if test="isopenautoauth != null">
        ISOPENAUTOAUTH,
      </if>
      <if test="memberCode != null">
        MEMBER_CODE,
      </if>
      <if test="pmemberCode != null">
        PMEMBER_CODE,
      </if>
      <if test="memberFlag != null">
        MEMBER_FLAG,
      </if>
      <if test="emailEffective != null">
        EMAIL_EFFECTIVE,
      </if>
      <if test="customerLevel != null">
        CUSTOMER_LEVEL,
      </if>
      <if test="isSuporrtTransMenu != null">
        IS_SUPORRT_TRANS_MENU,
      </if>
      <if test="isRealmerchant != null">
        IS_REALMERCHANT,
      </if>
      <if test="offlineDamages != null">
        OFFLINE_DAMAGES,
      </if>
      <if test="withdrowFeemode != null">
        WITHDROW_FEEMODE,
      </if>
      <if test="openid != null">
        OPENID,
      </if>
      <if test="moneymoremoreid != null">
        MONEYMOREMOREID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="ifDataComplete != null">
        #{ifDataComplete,jdbcType=DECIMAL},
      </if>
      <if test="ifEnterPriceDataComplete != null">
        #{ifEnterPriceDataComplete,jdbcType=DECIMAL},
      </if>
      <if test="ifRealNameAuth != null">
        #{ifRealNameAuth,jdbcType=DECIMAL},
      </if>
      <if test="memberFeeEndDate != null">
        #{memberFeeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="payMemberFeeStatus != null">
        #{payMemberFeeStatus,jdbcType=DECIMAL},
      </if>
      <if test="sitNo != null">
        #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNic != null">
        #{userNic,jdbcType=VARCHAR},
      </if>
      <if test="userCustId != null">
        #{userCustId,jdbcType=VARCHAR},
      </if>
      <if test="rwdCustomerManager != null">
        #{rwdCustomerManager,jdbcType=VARCHAR},
      </if>
      <if test="sysuser != null">
        #{sysuser,jdbcType=VARCHAR},
      </if>
      <if test="questionScore != null">
        #{questionScore,jdbcType=DECIMAL},
      </if>
      <if test="isopenautoauth != null">
        #{isopenautoauth,jdbcType=DECIMAL},
      </if>
      <if test="memberCode != null">
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="pmemberCode != null">
        #{pmemberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberFlag != null">
        #{memberFlag,jdbcType=VARCHAR},
      </if>
      <if test="emailEffective != null">
        #{emailEffective,jdbcType=DECIMAL},
      </if>
      <if test="customerLevel != null">
        #{customerLevel,jdbcType=VARCHAR},
      </if>
      <if test="isSuporrtTransMenu != null">
        #{isSuporrtTransMenu,jdbcType=DECIMAL},
      </if>
      <if test="isRealmerchant != null">
        #{isRealmerchant,jdbcType=DECIMAL},
      </if>
      <if test="offlineDamages != null">
        #{offlineDamages,jdbcType=FLOAT},
      </if>
      <if test="withdrowFeemode != null">
        #{withdrowFeemode,jdbcType=DECIMAL},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moneymoremoreid != null">
        #{moneymoremoreid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yasinyt.system.entity.Members">
    update P2P_MEMBERS
    <set>
      <if test="optime != null">
        OPTIME = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="ifDataComplete != null">
        IF_DATA_COMPLETE = #{ifDataComplete,jdbcType=DECIMAL},
      </if>
      <if test="ifEnterPriceDataComplete != null">
        IF_ENTER_PRICE_DATA_COMPLETE = #{ifEnterPriceDataComplete,jdbcType=DECIMAL},
      </if>
      <if test="ifRealNameAuth != null">
        IF_REAL_NAME_AUTH = #{ifRealNameAuth,jdbcType=DECIMAL},
      </if>
      <if test="memberFeeEndDate != null">
        MEMBER_FEE_END_DATE = #{memberFeeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="payMemberFeeStatus != null">
        PAY_MEMBER_FEE_STATUS = #{payMemberFeeStatus,jdbcType=DECIMAL},
      </if>
      <if test="sitNo != null">
        SIT_NO = #{sitNo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNic != null">
        USER_NIC = #{userNic,jdbcType=VARCHAR},
      </if>
      <if test="userCustId != null">
        USER_CUST_ID = #{userCustId,jdbcType=VARCHAR},
      </if>
      <if test="rwdCustomerManager != null">
        RWD_CUSTOMER_MANAGER = #{rwdCustomerManager,jdbcType=VARCHAR},
      </if>
      <if test="sysuser != null">
        SYSUSER = #{sysuser,jdbcType=VARCHAR},
      </if>
      <if test="questionScore != null">
        QUESTION_SCORE = #{questionScore,jdbcType=DECIMAL},
      </if>
      <if test="isopenautoauth != null">
        ISOPENAUTOAUTH = #{isopenautoauth,jdbcType=DECIMAL},
      </if>
      <if test="memberCode != null">
        MEMBER_CODE = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="pmemberCode != null">
        PMEMBER_CODE = #{pmemberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberFlag != null">
        MEMBER_FLAG = #{memberFlag,jdbcType=VARCHAR},
      </if>
      <if test="emailEffective != null">
        EMAIL_EFFECTIVE = #{emailEffective,jdbcType=DECIMAL},
      </if>
      <if test="customerLevel != null">
        CUSTOMER_LEVEL = #{customerLevel,jdbcType=VARCHAR},
      </if>
      <if test="isSuporrtTransMenu != null">
        IS_SUPORRT_TRANS_MENU = #{isSuporrtTransMenu,jdbcType=DECIMAL},
      </if>
      <if test="isRealmerchant != null">
        IS_REALMERCHANT = #{isRealmerchant,jdbcType=DECIMAL},
      </if>
      <if test="offlineDamages != null">
        OFFLINE_DAMAGES = #{offlineDamages,jdbcType=FLOAT},
      </if>
      <if test="withdrowFeemode != null">
        WITHDROW_FEEMODE = #{withdrowFeemode,jdbcType=DECIMAL},
      </if>
      <if test="openid != null">
        OPENID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="moneymoremoreid != null">
        MONEYMOREMOREID = #{moneymoremoreid,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yasinyt.system.entity.Members">
    update P2P_MEMBERS
    set OPTIME = #{optime,jdbcType=TIMESTAMP},
      EMAIL = #{email,jdbcType=VARCHAR},
      IF_DATA_COMPLETE = #{ifDataComplete,jdbcType=DECIMAL},
      IF_ENTER_PRICE_DATA_COMPLETE = #{ifEnterPriceDataComplete,jdbcType=DECIMAL},
      IF_REAL_NAME_AUTH = #{ifRealNameAuth,jdbcType=DECIMAL},
      MEMBER_FEE_END_DATE = #{memberFeeEndDate,jdbcType=TIMESTAMP},
      PASSWORD = #{password,jdbcType=VARCHAR},
      PAY_MEMBER_FEE_STATUS = #{payMemberFeeStatus,jdbcType=DECIMAL},
      SIT_NO = #{sitNo,jdbcType=VARCHAR},
      SOURCE = #{source,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_NIC = #{userNic,jdbcType=VARCHAR},
      USER_CUST_ID = #{userCustId,jdbcType=VARCHAR},
      RWD_CUSTOMER_MANAGER = #{rwdCustomerManager,jdbcType=VARCHAR},
      SYSUSER = #{sysuser,jdbcType=VARCHAR},
      QUESTION_SCORE = #{questionScore,jdbcType=DECIMAL},
      ISOPENAUTOAUTH = #{isopenautoauth,jdbcType=DECIMAL},
      MEMBER_CODE = #{memberCode,jdbcType=VARCHAR},
      PMEMBER_CODE = #{pmemberCode,jdbcType=VARCHAR},
      MEMBER_FLAG = #{memberFlag,jdbcType=VARCHAR},
      EMAIL_EFFECTIVE = #{emailEffective,jdbcType=DECIMAL},
      CUSTOMER_LEVEL = #{customerLevel,jdbcType=VARCHAR},
      IS_SUPORRT_TRANS_MENU = #{isSuporrtTransMenu,jdbcType=DECIMAL},
      IS_REALMERCHANT = #{isRealmerchant,jdbcType=DECIMAL},
      OFFLINE_DAMAGES = #{offlineDamages,jdbcType=FLOAT},
      WITHDROW_FEEMODE = #{withdrowFeemode,jdbcType=DECIMAL},
      OPENID = #{openid,jdbcType=VARCHAR},
      MONEYMOREMOREID = #{moneymoremoreid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>