<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yasinyt.system.dao.RepaymentPlanDetailDao">
  <resultMap id="BaseResultMap" type="com.yasinyt.system.entity.RepaymentPlanDetail">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPTIME" jdbcType="TIMESTAMP" property="optime" />
    <result column="ACCRUAL" jdbcType="FLOAT" property="accrual" />
    <result column="ALREADY_ACCRUAL" jdbcType="FLOAT" property="alreadyAccrual" />
    <result column="ALREADY_CAPITAL" jdbcType="FLOAT" property="alreadyCapital" />
    <result column="CAPITAL" jdbcType="FLOAT" property="capital" />
    <result column="EARLIER_INTEREST" jdbcType="FLOAT" property="earlierInterest" />
    <result column="ORD_DATE" jdbcType="VARCHAR" property="ordDate" />
    <result column="ORD_ID" jdbcType="VARCHAR" property="ordId" />
    <result column="OVERDUE_INTEREST" jdbcType="FLOAT" property="overdueInterest" />
    <result column="PERIOD" jdbcType="DECIMAL" property="period" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="BORROW_ID" jdbcType="VARCHAR" property="borrowId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OPTIME, ACCRUAL, ALREADY_ACCRUAL, ALREADY_CAPITAL, CAPITAL, EARLIER_INTEREST, 
    ORD_DATE, ORD_ID, OVERDUE_INTEREST, PERIOD, STATUS, MEMBER_ID, BORROW_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P2P_REPAYMENT_PLAN_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from P2P_REPAYMENT_PLAN_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yasinyt.system.entity.RepaymentPlanDetail">
    insert into P2P_REPAYMENT_PLAN_DETAIL (ID, OPTIME, ACCRUAL, 
      ALREADY_ACCRUAL, ALREADY_CAPITAL, CAPITAL, 
      EARLIER_INTEREST, ORD_DATE, ORD_ID, 
      OVERDUE_INTEREST, PERIOD, STATUS, 
      MEMBER_ID, BORROW_ID)
    values (#{id,jdbcType=VARCHAR}, #{optime,jdbcType=TIMESTAMP}, #{accrual,jdbcType=FLOAT}, 
      #{alreadyAccrual,jdbcType=FLOAT}, #{alreadyCapital,jdbcType=FLOAT}, #{capital,jdbcType=FLOAT}, 
      #{earlierInterest,jdbcType=FLOAT}, #{ordDate,jdbcType=VARCHAR}, #{ordId,jdbcType=VARCHAR}, 
      #{overdueInterest,jdbcType=FLOAT}, #{period,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{memberId,jdbcType=VARCHAR}, #{borrowId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yasinyt.system.entity.RepaymentPlanDetail">
    insert into P2P_REPAYMENT_PLAN_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="optime != null">
        OPTIME,
      </if>
      <if test="accrual != null">
        ACCRUAL,
      </if>
      <if test="alreadyAccrual != null">
        ALREADY_ACCRUAL,
      </if>
      <if test="alreadyCapital != null">
        ALREADY_CAPITAL,
      </if>
      <if test="capital != null">
        CAPITAL,
      </if>
      <if test="earlierInterest != null">
        EARLIER_INTEREST,
      </if>
      <if test="ordDate != null">
        ORD_DATE,
      </if>
      <if test="ordId != null">
        ORD_ID,
      </if>
      <if test="overdueInterest != null">
        OVERDUE_INTEREST,
      </if>
      <if test="period != null">
        PERIOD,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="borrowId != null">
        BORROW_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="optime != null">
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="accrual != null">
        #{accrual,jdbcType=FLOAT},
      </if>
      <if test="alreadyAccrual != null">
        #{alreadyAccrual,jdbcType=FLOAT},
      </if>
      <if test="alreadyCapital != null">
        #{alreadyCapital,jdbcType=FLOAT},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=FLOAT},
      </if>
      <if test="earlierInterest != null">
        #{earlierInterest,jdbcType=FLOAT},
      </if>
      <if test="ordDate != null">
        #{ordDate,jdbcType=VARCHAR},
      </if>
      <if test="ordId != null">
        #{ordId,jdbcType=VARCHAR},
      </if>
      <if test="overdueInterest != null">
        #{overdueInterest,jdbcType=FLOAT},
      </if>
      <if test="period != null">
        #{period,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="borrowId != null">
        #{borrowId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yasinyt.system.entity.RepaymentPlanDetail">
    update P2P_REPAYMENT_PLAN_DETAIL
    <set>
      <if test="optime != null">
        OPTIME = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="accrual != null">
        ACCRUAL = #{accrual,jdbcType=FLOAT},
      </if>
      <if test="alreadyAccrual != null">
        ALREADY_ACCRUAL = #{alreadyAccrual,jdbcType=FLOAT},
      </if>
      <if test="alreadyCapital != null">
        ALREADY_CAPITAL = #{alreadyCapital,jdbcType=FLOAT},
      </if>
      <if test="capital != null">
        CAPITAL = #{capital,jdbcType=FLOAT},
      </if>
      <if test="earlierInterest != null">
        EARLIER_INTEREST = #{earlierInterest,jdbcType=FLOAT},
      </if>
      <if test="ordDate != null">
        ORD_DATE = #{ordDate,jdbcType=VARCHAR},
      </if>
      <if test="ordId != null">
        ORD_ID = #{ordId,jdbcType=VARCHAR},
      </if>
      <if test="overdueInterest != null">
        OVERDUE_INTEREST = #{overdueInterest,jdbcType=FLOAT},
      </if>
      <if test="period != null">
        PERIOD = #{period,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="borrowId != null">
        BORROW_ID = #{borrowId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yasinyt.system.entity.RepaymentPlanDetail">
    update P2P_REPAYMENT_PLAN_DETAIL
    set OPTIME = #{optime,jdbcType=TIMESTAMP},
      ACCRUAL = #{accrual,jdbcType=FLOAT},
      ALREADY_ACCRUAL = #{alreadyAccrual,jdbcType=FLOAT},
      ALREADY_CAPITAL = #{alreadyCapital,jdbcType=FLOAT},
      CAPITAL = #{capital,jdbcType=FLOAT},
      EARLIER_INTEREST = #{earlierInterest,jdbcType=FLOAT},
      ORD_DATE = #{ordDate,jdbcType=VARCHAR},
      ORD_ID = #{ordId,jdbcType=VARCHAR},
      OVERDUE_INTEREST = #{overdueInterest,jdbcType=FLOAT},
      PERIOD = #{period,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      BORROW_ID = #{borrowId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>