{
	"code": 0,
	"msg": "success",
	"data": [{
		"id": "1000",
		"pid": "1000",
		"title": "系统管理",
		"font": "larry-icon",
		"icon": "larry-xitong",
		"url": "",
		"spread": false,
		"children": [{
			"id": "1001",
			"pid": "1000",
			"title": "后台首页",
			"font": "larry-icon",
			"icon": "larry-shouye4",
			"url": "main.html",
			"spread": false
		}, {
			"id": "1002",
			"pid": "1000",
			"title": "我的面板",
			"font": "larry-icon",
			"icon": "larry-mianban",
			"url": "",
			"spread": true,
			"children": [{
				"id": "1003",
				"pid": "1000",
				"title": "我的账户",
				"font": "larry-icon",
				"icon": "larry-zhanghuxinxi",
				"url": "/admin",
				"spread": false
			}, {
				"id": "1004",
				"pid": "1000",
				"title": "显示设置",
				"font": "larry-icon",
				"icon": "larry-shezhixianshiguize",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1005",
				"pid": "1000",
				"title": "操作日志",
				"font": "larry-icon",
				"icon": "larry-caozuorizhi",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1006",
			"pid": "1000",
			"title": "菜单管理",
			"font": "larry-icon",
			"icon": "larry-caidanguanli3",
			"url": "/temp",
			"spread": false
		}, {
			"id": "1007",
			"pid": "1000",
			"title": "系统用户管理",
			"font": "larry-icon",
			"icon": "larry-paikexitong_yonghuguanli",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1008",
				"pid": "1000",
				"title": "用户列表",
				"font": "larry-icon",
				"icon": "larry-yonghuliebiao",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1009",
				"pid": "1000",
				"title": "角色管理",
				"font": "larry-icon",
				"icon": "larry-jiaoseguanli",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1010",
				"pid": "1000",
				"title": "权限管理",
				"font": "larry-icon",
				"icon": "larry-quanxianguanli3",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1011",
			"pid": "1000",
			"title": "会员管理",
			"font": "larry-icon",
			"icon": "larry-Shape",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1012",
				"pid": "1000",
				"title": "会员列表",
				"font": "larry-icon",
				"icon": "larry-Userlist1",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1013",
				"pid": "1000",
				"title": "会员组管理",
				"font": "larry-icon",
				"icon": "larry-huiyuan4",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1014",
			"pid": "1000",
			"title": "系统设置",
			"font": "larry-icon",
			"icon": "larry-wsmp-setting",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1015",
				"pid": "1000",
				"title": "系统基本设置",
				"font": "larry-icon",
				"icon": "larry-weibiaoti2",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1016",
				"pid": "1000",
				"title": "系统配置管理",
				"font": "larry-icon",
				"icon": "larry-peizhiguanli",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1017",
				"pid": "1000",
				"title": "图片水印设置",
				"font": "larry-icon",
				"icon": "larry-shuiyin",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1018",
				"pid": "1000",
				"title": "邮件服务器",
				"font": "larry-icon",
				"icon": "larry-youjian",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1019",
				"pid": "1000",
				"title": "计划任务管理",
				"font": "larry-icon",
				"icon": "larry-renwu2",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1020",
				"pid": "1000",
				"title": "防采集串混淆",
				"font": "larry-icon",
				"icon": "larry-zifuchuanshujuji",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1021",
				"pid": "1000",
				"title": "SQL命令行工具",
				"font": "larry-icon",
				"icon": "larry-sql",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1022",
				"pid": "1000",
				"title": "多级菜单示例",
				"font": "larry-icon",
				"icon": "larry-caidanguanli1",
				"url": "/temp",
				"spread": false,
				"children": [{
					"id": "1023",
					"pid": "1000",
					"title": "第四级菜单1",
					"font": "larry-icon",
					"icon": "larry-wangzhan2",
					"url": "/temp",
					"spread": false
				}, {
					"id": "1024",
					"pid": "1000",
					"title": "第四级菜单2",
					"font": "larry-icon",
					"icon": "larry-shujukuzifuchuan",
					"url": "/temp",
					"spread": false
				}]
			}]
		}, {
			"id": "1025",
			"pid": "1000",
			"title": "系统扩展设置",
			"font": "larry-icon",
			"icon": "larry-system-extension",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1026",
				"pid": "1000",
				"title": "支付宝接口",
				"font": "larry-icon",
				"icon": "larry-umidd17",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1027",
				"pid": "1000",
				"title": "微信接口",
				"font": "larry-icon",
				"icon": "larry-weixin3",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1028",
			"pid": "1000",
			"title": "安全管理",
			"font": "larry-icon",
			"icon": "larry-shouye-anquanguanli",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1029",
				"pid": "1000",
				"title": "基本设置",
				"font": "larry-icon",
				"icon": "larry-anquanguanli1",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1030",
				"pid": "1000",
				"title": "黑名单(IP)",
				"font": "larry-icon",
				"icon": "larry-heimingdan2",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1031",
				"pid": "1000",
				"title": "敏感词管理",
				"font": "larry-icon",
				"icon": "larry-sensitive",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1032",
				"pid": "1000",
				"title": "在线升级更新",
				"font": "larry-icon",
				"icon": "larry-shengji2",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1033",
			"pid": "1000",
			"title": "数据库管理",
			"font": "larry-icon",
			"icon": "larry-database",
			"url": "",
			"spread": false,
			"children": [{
				"id": "1034",
				"pid": "1000",
				"title": "数据库备份",
				"font": "larry-icon",
				"icon": "larry-shujukubeifen",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1035",
				"pid": "1000",
				"title": "数据库还原",
				"font": "larry-icon",
				"icon": "larry-huanyuanshujuku",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1036",
			"pid": "1000",
			"title": "友链管理",
			"font": "larry-icon",
			"icon": "larry-youlianguanliicon",
			"url": "/temp",
			"spread": false
		}, {
			"id": "1037",
			"pid": "1000",
			"title": "网站维护",
			"font": "larry-icon",
			"icon": "larry-service",
			"url": "/temp",
			"spread": false,
			"children": [{
				"id": "1038",
				"pid": "1000",
				"title": "主题风格",
				"font": "larry-icon",
				"icon": "larry-zhuti2",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1039",
				"pid": "1000",
				"title": "更新系统缓存",
				"font": "larry-icon",
				"icon": "larry-qingchuhuancun",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1040",
				"pid": "1000",
				"title": "更新首页HTML",
				"font": "larry-icon",
				"icon": "larry-html",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1041",
				"pid": "1000",
				"title": "更新栏目HTML",
				"font": "larry-icon",
				"icon": "larry-html1",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1042",
				"pid": "1000",
				"title": "更新文档HTML",
				"font": "larry-icon",
				"icon": "larry-html2",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1043",
				"pid": "1000",
				"title": "更新网站地图",
				"font": "larry-icon",
				"icon": "larry-xitong4",
				"url": "/temp",
				"spread": false
			}]
		}, {
			"id": "1044",
			"pid": "1000",
			"title": "数据统计",
			"font": "larry-icon",
			"icon": "larry-shujutongji1",
			"url": "/temp",
			"spread": false,
			"children": [{
				"id": "1045",
				"pid": "1000",
				"title": "数据分析",
				"font": "larry-icon",
				"icon": "larry-fcstubiao19",
				"url": "/temp",
				"spread": false
			}]
		}]
	}, {
		"id": "1046",
		"pid": "1000",
		"title": "内容管理",
		"font": "larry-icon",
		"icon": "larry-neirongguanli1",
		"url": "",
		"spread": false,
		"children": [{
			"id": "1047",
			"pid": "1000",
			"title": "网站管理",
			"font": "larry-icon",
			"icon": "larry-wangzhan",
			"url": "/temp",
			"spread": false,
			"children": [{
				"id": "1048",
				"pid": "1000",
				"title": "网站栏目管理",
				"font": "larry-icon",
				"icon": "larry-lanmuguanli-copy",
				"url": "/temp",
				"spread": false
			}, {
				"id": "1049",
				"pid": "1000",
				"title": "所有档案列表",
				"font": "larry-icon",
				"icon": "larry-listpress",
				"url": "/temp",
				"spread": false
			}]
		}]
	}, {
		"id": "1050",
		"pid": "1000",
		"title": "微信公众",
		"font": "larry-icon",
		"icon": "larry-weixin",
		"url": "",
		"spread": false
	}, {
		"id": "1051",
		"pid": "1000",
		"title": "页面示例",
		"font": "larry-icon",
		"icon": "larry-html",
		"url": "",
		"spread": false,
		"children": [{
			"id": "1052",
			"pid": "1000",
			"title": "Layui组件",
			"font": "larry-icon",
			"icon": "larry-emizhifeiji",
			"url": "/temp",
			"spread": false
		},{
			"id": "1053",
			"pid": "1000",
			"title": "LarryMS内置图标",
			"font": "larry-icon",
			"icon": "larry-tubiao",
			"url": "/larryfont",
			"spread": false
		},{
			"id": "1054",
			"pid": "1000",
			"title": "LarryMS扩展组件",
			"font": "larry-icon",
			"icon": "larry-kuozhan",
			"url": "/temp",
			"spread": false
		},{
			"id": "1055",
			"pid": "1000",
			"title": "常用示例页面",
			"font": "larry-icon",
			"icon": "larry-changyongshili",
			"url": "/temp",
			"spread": false,
			"children": [{
                "id": "1056",
			    "pid": "1000",
			    "title": "404页面",
			    "font": "larry-icon",
			    "icon": "larry-icon-test",
			    "url": "/404",
			    "spread": false
			},{
                "id": "1057",
			    "pid": "1000",
			    "title": "500页面",
			    "font": "larry-icon",
			    "icon": "larry-icon-test1",
			    "url": "/temp",
			    "spread": false
			},{
                "id": "1058",
			    "pid": "1000",
			    "title": "Animate示例",
			    "font": "larry-icon",
			    "icon": "larry-weird-animal",
			    "url": "/animate",
			    "spread": false
			},{
                "id": "1059",
			    "pid": "1000",
			    "title": "登录页面",
			    "font": "larry-icon",
			    "icon": "larry-denglu",
			    "url": "login",
			    "spread": false
			},{
                "id": "1060",
			    "pid": "1000",
			    "title": "穿梭框",
			    "font": "larry-icon",
			    "icon": "larry-chuansuokuang",
			    "url": "/temp",
			    "spread": false
			},{
                "id": "1061",
			    "pid": "1000",
			    "title": "下拉框多选",
			    "font": "larry-icon",
			    "icon": "larry-duoxuankuang",
			    "url": "/temp",
			    "spread": false
			},{
                "id": "1062",
			    "pid": "1000",
			    "title": "树形表格",
			    "font": "larry-icon",
			    "icon": "larry-shuxingkongjian",
			    "url": "/temp",
			    "spread": false
			}]
		},{
            "id": "1063",
		    "pid": "1000",
		    "title": "LarryMS授权",
		    "font": "larry-icon",
		    "icon": "larry-shouquanzhengpin",
		    "url": "/temp",
		    "spread": false
	    },{
            "id": "1064",
		    "pid": "1000",
		    "title": "Layui",
		    "font": "larry-icon",
		    "icon": "larry-shouquanzhengpin",
		    "url": "http://www.layui.com/demo/",
		    "spread": false
	    }]
	}]
}
